{{ define "base" }}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style2.css">
    <title>Crud HB</title>

</head>

<body>
    <header>
        <h1 class="entete" >Gestion des utilisateurs</h1>
        <img src="../../../../css/images-02.jpg" id="icone"/>
        
        <time class="datesite">13/11/2023</time>
    </header>
      


    {{ block "content" . }}
    {{ end }}
    <footer>

        <div class=”contenu-footer”>

            <div class=”bloc footer-services”>
              <h3>Nos services</h3>
              <ul class=”liste-services”>
                <li><a href=”#”>Création de sites web</a></li>
                <li><a href=”#”>SEO</a></li>
                <li><a href=”#”>SEA</a></li>
              </ul>
            </div>

          <div class=”bloc footer-informations”>
            <h3>A propos</h3>
            <ul class=”liste-informations”>
              <li><a href=”#”>Actualités</a></li>
              <li><a href=”#”>Notre histoire</a></li>
              <li><a href=”#”>Investisseurs</a></li>
              <li><a href=”#”>Développement durable</a></li>
            </ul>
          </div>

          <div class=”bloc footer-contact”>
            <h3>Restons en contact</h3>
            <p>06 06 06 06 06</p>
            <p>supportclient@contact.com</p>
            <p>12 rue de l'invention, Paris, 75011</p>
          </div>

          <p class="copyright">Company Name © 2022</p>

        </div>

  </footer>
</body>

</html>
{{ end }}