<!doctype html>
{{ template "base" . }}

{{ define "content" }}
<div class="corps">
<div class="container">
    <div class="part2">
        <h1 class = "card-title text-center mb-3" >Tutoriel Crud en Golang</h1>
        <a href="/"><span class="bouton3">Retour à la page d'accueil</span> </a>
    </div>
    <div class="row mt-3">
        <h1>{{.Name}}</h1>
        <p>
            Nom : {{.User.Nom}} <br />
            Prénom : {{.User.Prenom}} <br />
            Email : {{.User.Email}} <br />
            Password : {{.User.Password}} <br />
            CreatedAt : {{.User.CreatedAt}} <br />
            UpdatedAt : {{.User.UpdatedAt}} <br />
        </p>
    </div>
</div>
</div>
{{end}}
