<!doctype html>
{{ template "base" . }}
{{ define "content" }}
<div class="corps">
    <div class="container">
        <div >
            <h1>{{.Name}}</h1>
        </div>
        <div class="part2">
            <h2>{{.Name}}</h2>
            
        </div>
        <div class="col">
            <table class="tableh">  
                <tbody>
                    <a href="/"><span class="bouton3">Retour à la page d'accueil</span> </a>
                    <form action="/DeleteUserPost/{{.User.Id}}" method="post">
                    <button type="submit" class="bouton1" value="Effacer">Effacer</button>
                    <tr><th>Id</th><td><input class="datav" type="text" name="id" class="form-control"  value="{{.User.Id}}"readonly></td></tr>
                    <tr><th>Nom</th><td><input class="datav" type="text" name="nom" class="form-control"  value="{{.User.Nom}}"readonly></td></tr>
                    <tr><th>Prénom</th><td><input class="datav" type="text" name="prenom" class="form-control" value="{{.User.Prenom}}"readonly></td></tr>
                    <tr><th>Email</th><td><input class="datav" type="email" name="email" class="form-control" value="{{.User.Email}}"readonly></td></tr>
                    <tr><th>Password</th><td><input class="datav" type="text" name="password" class="form-control" value="{{.User.Password}}"readonly></td></tr>
                    <tr><th>CreatedAt</th><td><input class="datav" type="text" name="CreatedAt" class="form-control" value="{{.User.CreatedAt}}"readonly></td></tr>
                    <tr><th>UpdatedAt</th><td><input class="datav" type="text" name="UpdatedAt" class="form-control" value="{{.User.UpdatedAt}}"readonly></td></tr>
                    </form>
                </tbody>
            </table>    
        </div>
    </div>
</div>    
{{end}}


