<!doctype html>

{{ template "base" . }}

{{ define "content" }}
<div class="corps">
<div class="container">
    <div >
        <h1>{{.Name}}</h1>
    </div>
    <div class="col">
        
        <div class="part2">
            <h2>{{.Name}}</h2>
            <a href="/"><span class="bouton3">Retour à la page d'accueil</span> </a>
        </div>

        <table class="tableh">  
            <tbody>
                <form action="/UpdateUserPost/{{.User.Id}}" method="post">
                <tr><th>Nom</th><td><input class="datav" type="text" name="nom" class="form-control"  value="{{.User.Nom}}"></td></tr>
                <tr><th>Prénom</th><td><input class="datav" type="text" name="prenom" class="form-control" value="{{.User.Prenom}}"></td></tr>
                <tr><th>Email</th><td><input class="datav" type="email" name="email" class="form-control" value="{{.User.Email}}"></td></tr>
                <tr><th>Password</th><td><input class="datav" type="text" name="password" class="form-control" value="{{.User.Password}}"></td></tr>
                <tr><th>CreatedAt</th><td><input class="datav" type="text" name="CreatedAt" class="form-control" value="{{.User.CreatedAt}}" readonly></td></tr>
                <tr><th>UpdatedAt</th><td><input class="datav" type="text" name="UpdatedAt" class="form-control" value="{{.User.UpdatedAt}}" readonly></td></tr>
                <input type="submit" class="bouton1" value="Modifier">
                </form>
            </tbody>
        </table>
    </div>
</div>
</div>
{{end}}